/* This adds a border around the cells of the table */
table {
	border: 3px solid red;
}
/* This adds the hover effect */
td:hover {
	background-color: purple;
	color: white;
}
/* This makes the top row have a black background and font written in orange */
tr, th {
	background-color: black;
	color: orange;
}
/* This makes the remaining rows have a lightpink background and a white font */
tr, td {
	background-color: lightpink;
	color: white;
